<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>BIG BELLY</title>

</head>

<body class='logsign-page'>
  <div class='container-fluid'>
    <section id='signup' class='row'>
      <form id='signupForm' name='signupForm' action='/signup' method='POST' class='mainForm'></form>
      <div class='greeting'>
        <img class='icon' src='./assets/img/favicon.png' alt='hamburger'>
        <h1>HELLO</h1>
      </div>
      <div class='fields'>
        <div class='form-group col-xs-4'>
          <input class='field' id='user' type='text' name='username' placeholder='Username' />
        </div>
        <div class='field' id='pass' type='text' name='pass' placeholder='Password' />
      </div>
      <div class ='form-group col-xs-4'>
          <input class='field' id='pass2' type='text' name='pass2' placeholder='Retype Password' />
      </div>
  </div>
  <button class='btn btn-secondary rounded-pill' id='signupButton' type='submit'>Sign In</button>
  <p>Have an account? <a href='./login'>Login</a></p>
  </form>
  </section>
  </div>

  <script src='/assets/bundle.js'></script>
</body>

</html>